/* main.css */
@import url('./fonts.css');

/* Определение переменных в корне документа */
/* ********ОБЩИЕ СТИЛИ****** */
:root {
  --black-neutral-color: #333333;
  --black-color: #000000;
  --white-color: #ffffff;
  --white-neutral-color: #fafafa;
  --accent-color: #ff0000;
  --background-overlay: rgba(0, 0, 0, 0.5);
  --description-color: #6C6660;
  
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: var(--white-color);
  padding: 10px 0;
  z-index: 1;
  position: relative;
}

.container {
  width: 1700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Base button styles */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  gap: 12px;
  height: 40px;
}

.btn-default{
  padding: 10px 0px;
}  

.btn-white-outline{
border: 1px solid var(--white-color);
color: var(--white-color);
}

.btn-black-outline{
border: 1px solid var(--black-color);
color: var(--black-color);
}

.btn-black{
color: var(--black-color);
}

.btn-white{
color: var(--white-color);
}


/* ***************************** */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Bodoni Moda', serif;
  font-weight: 700;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: var(--white-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.search-icon {
  font-size: 18px;
  /* Размер иконки поиска */
}

.hero {
  position: relative;
  height: 950px;
  /* Высота секции hero */
  background: url('../assets/images/main-banner.png') no-repeat center center/cover;
  /* Путь к вашему изображению */
  top: -50px;
}

.hero .container {
  position: absolute;
  bottom: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--background-overlay);
  /* Полупрозрачный оверлей */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: left;
  color: var(--white-color);
  width: 850px;
  gap: 24px;
}

.hero-content h1 {
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
  font-size: 90px;
  line-height: 100%;
}

.hero-content h2 {
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
}

.hero-buttons a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  transition: background 0.3s, color 0.3s;
}

.hero-buttons a:hover {
  background: var(--white-color);
  color: var(--black-color);
}

.past-events{
  margin-top: 100px;
  margin-bottom: 160px;
}

.our_publications{
  margin-bottom: 150px;
}

.publications_our_partners{
  margin-bottom: 180px;
}

.blog-header h2{
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  color: var(--black-color);
  text-transform: uppercase;
}

.blog-header{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 40px;
  margin-bottom: 40px;
}

.blog-card-title{
  text-transform: uppercase;
}

.blog-cards-list{
  display: flex;
  gap: 30px;
  flex-direction: row;
  max-width: 1700px;
  overflow-y: hidden;
  overflow-x: scroll;
}



.blog-cards-list::-webkit-scrollbar {
  height: 5px;
  background-color: #B7B3AE;
}

.blog-cards-list::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background-color: #363330;
}

.blog-cards-list::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); */
  /* border-radius: 10px; */
  background-color: #f9f9fd;
}


.blog-card-item{
  width: 400px;
  height: 650px;
  margin-bottom: 60px;
}

.blog-card-item .blog-card-title h3{
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--black-color);
}

.blog-card-item .blog-card-description h4{
  font-family: 'Raleway', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--description-color);
}

.blog-card-info-wrapper{
  display: flex;
  align-items: flex-end;
}

.blog-card-info{
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-card-date{
  font-family: 'Mulish Italic', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #B3B3B3;
  margin-top: 12px;
  text-transform: uppercase;
}
  

.blog-card-item.big{
  width: 572px;
  height: 800px;
}

.blog-card-item.big .blog-card-img{
  width: 572px;
}

.blog-card-item.big .blog-card-img img{
  width: 100%;
}
/**/

.blog-card-item.small{
  width: 360px;
  height: 230px;
}

.blog-card-item.small .blog-card-img{
  width: 360px;
}

.blog-card-item.small .blog-card-img img{
  width: 100%;
  height: 230px;
  
}

/**/

.blog-card-item.tight{
  width: 320px;
  /* height: 230px; */
}

.blog-card-item.tight .blog-card-img{
  width: 320px;
}

.blog-card-item.tight .blog-card-img img{
  width: 100%;
  height: 530px;
  
}

/* */

.articles-cards-list{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
}

.articles-cards-list .articles-cards-left-block{
  width: 70%;
  height: 800px;
  /* background-color: #f00; */
}

.articles-cards-list .articles-cards-right-block{
  width: 30%;
  height: 800px;
  background-color: #c1c1c1;
}

.articles-card-item.main{
  max-width: 1110px;
  height: 600px;
}

.articles-card-img{
  
}

.articles-card-img img{
  width: 100%;
  height: 600px;
}


.articles-extra-info{
  display: flex;
  justify-content: space-between;
}


.articles-card-item.main .blog-card-title h3 {
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 100%;
  color: var(--black-color);
}